.App {
  text-align: center;
  margin-top: 50px;
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: inline-block;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

.error {
  color: red;
}